* {
  box-sizing: border-box;
  font-size: 16px;
  margin: 0;
  padding: 0;
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}

body {
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.App {
  text-align: center;
  width: 390px;
  Height: 844px;
  border: 1px solid black;
}




